* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: "Merriweather Sans", sans-serif;
  background-color: hsl(212, 45%, 89%);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: hsl(0, 0%, 100%);
  width: 330px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  border-radius: 12px;
}

.container-img {
  padding: 1rem;
}

.img-qr {
  border-radius: 12px;
  width: 300px;
}

.container-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem 2rem 2rem 2rem;
  gap: 1rem;
}

.title {
  font-size: 18px;
  font-weight: 700;
  color: hsl(218, 44%, 22%);
  text-align: center;
}

.text {
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  color: hsl(220, 15%, 55%);
}
